<div class="toggle-sidebar">
  <div class="bar_top"></div>
  <div class="bar_bottom"></div>
</div>
<div class="toggle-theme">
  <label
    for="checkbox"
    tabindex="0"
    role="button"
    aria-pressed="false"
    class="switch"
  >
    <input id="checkbox" class="checkbox theme-toggle" type="checkbox" />
    <span class="slider" for="checkbox"> </span>
  </label>
</div>
