* {
  --blue: #4b6cc1;
  --black: #191a1d;
  --grey: #91919a;
  --platinum: #e5e5e5ff;
  --white: #ffffff;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}

#logo {
  margin: 10px 0 0 0;
  padding: 1rem;
  width: 150px;
  font-size: 1.5rem;

}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sidenav li {
  border-bottom: 1px solid var(--platinum);
}

i {
  vertical-align: top;
}
