<!DOCTYPE html>
<html lang="en" data-theme="light">
  <%- include("./partials/head") %> 
  <body>
    <div class="container">
      <%- include("./partials/sidebar.ejs") %>
      <div class="main">
        <h1>Testimonials</h1>
        <div class="reviews"></div>
      </div> 
      </div>
    </div>
    <%- include("./partials/utils.ejs") %>

    <script src="/js/script.js"></script>
    <script src="/js/testimonials.js"></script>
  </body>
</html>
