<!DOCTYPE html>
<html lang="en" data-theme="light">
  <%- include("./partials/head") %>
  <body>
    <div class="container">
      <%- include("./partials/sidebar.ejs") %>
      <div class="main">
        <div class="timeline">
          <ul>
            <li>
              <div class="timeline-content">
                <h3 class="date">Jul, 2019</h3>
                <h1>
                  Freelance Web Developer
                  <a href="https://www.fiverr.com/pratikgohil_" target="_blank"
                    >@fiverr</a
                  >
                </h1>
                <p>worked as a freelance web developer on fiverr.com</p>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h3 class="date">8th Jun, 2021</h3>
                <h1>Front End Web Developer</h1>
                <p>
                  built a Landing Page for the organization.
                  <a href="https://thinkgroupy.com">https://thinkgroupy.com</a>
                </p>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h3 class="date">July, 2021</h3>
                <h1>Front End Web Developer</h1>
                <p>
                  worked with Next.js and Material-UI to create responsive web
                  pages.
                  <a href="https://slatemates.in">https://slatemates.in</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include("./partials/utils.ejs") %>

    <script src="/js/script.js"></script>
  </body>
</html>
